@use "variables" as *;
@use "mixins";

.button {
  @include mixins.button($baseFontColor, $secondary, $hover);

  &_outline {
    @include mixins.button($baseFontColor, white, $secondaryBackground);
    border: 2px solid $secondaryBackground;

    &:hover {
      color: white;
      background-color: $secondaryHover!important;
      border-color: $secondaryHover;
    }

    &:disabled {
      opacity: 1;
      cursor: pointer;
    }
  }

  &_active {
    color: white;
    background-color: $secondaryBackground!important;

    &:hover {
      color: white;
      background-color: $secondaryHover!important;
    }

    &:disabled {
      opacity: 1;
      cursor: pointer;
    }
  }
}