@use "variables" as *;
@use "mixins";

.loading {
  @include mixins.flex(column);
  align-items: center;
  justify-content: center;
  min-height: 12rem;
  padding: $defaultPadding;
  box-sizing: border-box;

  &__spinner {
    width: 3rem;
    height: 3rem;
    border: 0.3rem solid rgba($secondaryBackground, 0.2);
    border-top-color: $secondaryBackground;
    border-radius: 50%;
    animation: loading-spin 0.8s linear infinite;
  }
}

@keyframes loading-spin {
  to {
    transform: rotate(360deg);
  }
}
