@use "variables" as *;
@use "mixins";

.modal {
  @include mixins.sublayer;
  position: fixed;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: flex-start;
  background-color: $overlayBackground;
  z-index: 100;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 5vh;
  padding-bottom: 5vh;
  box-sizing: border-box;

  &_active {
    display: flex;
  }

  &__container {
    @include mixins.container;
    @include mixins.flex(column);
    gap: $defaultPadding;
    background-color: white;
    min-height: 90vmin;
    border-radius: 3rem;
    box-sizing: border-box;
    position: relative;
  }

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__close {
    position: absolute;
    top: calc(#{$defaultPadding} / 2);
    right: calc(#{$defaultPadding} / 2);
    @include mixins.icon(2rem, 'close');
    @include mixins.link($secondaryBackground, $secondaryHover);
  }

  &__footer {
    @include mixins.flex(row);
    align-items: center;
    gap: 2rem;
  }

  &__message {
    white-space:nowrap;
    max-width: 60%;
    text-overflow: ellipsis;
    overflow: hidden;

    &_error {
      color: $error;
    }
  }
}
